<div id="<%= dom_id regimen_blueprint %>">
  <p>
    <strong>Title:</strong>
    <%= regimen_blueprint.title %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= regimen_blueprint.duration %>
  </p>

</div>
