<h1>Editing regimen blueprint</h1>

<%= render "form", regimen_blueprint: @regimen_blueprint %>

<br>

<div>
  <%= link_to "Show this regimen blueprint", @regimen_blueprint %> |
  <%= link_to "Back to regimen blueprints", regimen_blueprints_path %>
</div>
