<h1>Editing effort stage</h1>

<%= render "form", effort_stage: @effort_stage %>

<br>

<div>
  <%= link_to "Show this effort stage", @effort_stage %> |
  <%= link_to "Back to effort stages", effort_stages_path %>
</div>
