<!-- app/views/workouts/new.html.erb -->
<div class="container">
  <h1>Start a new workout</h1>
  <div class="list-group">
    <% @workout_plans.each do |plan| %>
      <%= button_to plan.title, {controller: "workouts", action: "create", rainbow_stride_plan_id: plan.id}, method: :post, class: 'list-group-item list-group-item-action' %>
    <% end %>
  </div>
</div>