<div class="container py-4">
  <div class="row">
    <div class="col-md-12 text-center mb-4">
      <h1>New exercise</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="border shadow p-3">
        <%= render 'form', exercise: @exercise %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center mt-3">
      <%= link_to "Back to exercises", exercises_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>